<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpFunctionalExtensions" version="2.15.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Fody" version="6.5.1" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="OneOf" version="3.0.178" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.3.3" targetFramework="net48" />
  <package id="PW.Common" version="2.0.0" targetFramework="net48" />
</packages>